body { 
    font-family: 'Monserrat', sans-serif;
    background-image: url(../img/bg_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 150px;
}

#nav_top {
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Monserrat', sans-serif;
    position: absolute;
    right: 10px;
    text-align: center;
    color: beige;
    box-sizing: border-box;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    padding: 5px;  
}

#nav_bottom {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    color: beige;
    box-sizing:content-box;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    padding: 5px;  
    width: 100;
}

.opcion_menu_top{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 20px;
    color: whitesmoke;
    font-weight: bold;    
}

.opcion_menu_top2{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 20px;
    color: whitesmoke;
    font-weight: bold;    
}

.opcion_menu_top:hover {
    color: rgb(165, 191, 214);
    border-color: rgb(165, 191 ,214);
}

#inicio {
    position: absolute;
    display: flex;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 20px;
    color: whitesmoke;
    font-weight: bold;    
}

#inicio:hover {
    color: rgb(165, 191, 214);
}

#inicio_sesion {
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Monserrat', sans-serif;
    position: absolute;
    right: 10px;
    text-align: center;
    color: beige;
    box-sizing: border-box;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    width: 300px;
    padding: 5px;              
}

#inicio_sesion:hover {
    color: rgb(165, 191, 214);
    border-color: rgb(165, 191 ,214);
}

header h1 {
    font-size: 80px;
    font-weight: bold;
    color:antiquewhite;
    text-shadow: 10px 10px #404a6d;
    text-align: center;
}

header h2 {
    font-size: 50px;
    font-weight: bold;
    color:antiquewhite;
    text-shadow: 10px 10px #404a6d;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 100px;
    margin: auto;
    border: 1px solid #81889c;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.container-categorias {
    justify-content: center;
}

#titulo_cat {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

#des_cat {
    color: aliceblue;
}

.categorias-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias {
    text-decoration: none;
    text-align: center;
    color: antiquewhite;
    width: 20%;
    margin: 0 1%;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 2px solid #81889c;
    border-radius: 20px;
    font-weight: bold;
}

.categorias:hover {
    border-color: #C78C19;
    font-size: larger;
}

.listado-producto {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    color:#81889c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listado-producto li {
    display:inline-block;
    text-align: center;
    color: antiquewhite;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #81889c;
    border-radius: 10px;
}

.listado-producto img {
    width: 100px;
    height: 130px;
    align-items: center;
    padding: 20px;   
}

.descripcion-producto {
    font-size: 10px;
}

.precio-producto {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.listado-producto li:hover {
    border-color: #C78C19;
    font-size: larger;
}

footer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.footer-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.texto-footer {
    color: antiquewhite;
    font-size: 14px;
    margin: 10px;
    text-align: center;
}

.image-on-top {
    padding: 10px;
}

.image-on-top img {
    width: 70px;
    height: 70px;
    align-items: center;
    padding: 20px;
}

td {
    max-width: 500px;
    text-decoration: none;
    text-align: center;
    margin: 5 auto;
    padding: 3px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    border: 1px solid #81889c;
    border-radius: 5px;
    background-color: #0d1324;
}

/*Caja de estilo para formularios*/

.formulario {
    position: relative;
    width: 350px;
    height: 600px;
    background: transparent;
    border: 1px solid #81889c;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#campo_formulario{
    padding: 10px;
    width: 100%;
}

#campo_formulario label{
    top:50%;
    left:5px;
    transform:translateY(-20%);
    font-size: 1em;
    color: antiquewhite;
    font-weight: 500;
    text-shadow: -1px 0 #0d1324, 0 1px #0d1324, 1px 0 #0d1324, 0 -1px #0d1324;
}

.alert{
    position:absolute;
    top:50%;
    left:50%;
    font-weight: 500;
    font-size: 1.5em;
    transform: translate(-50%,1450%);
    background-color: transparent;
    border: 0px solid;
    color: #C78C19;
    text-shadow: -1px 0 #0d1324, 0 1px #0d1324, 1px 0 #0d1324, 0 -1px #0d1324;
}


