<!DOCTYPE html>
<html>

    <head>
        {% load static%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HORA RATA</title>
        <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>

    <body>

        <div>
            <a id="inicio" href="/">>>>Inicio</a>
            <nav>
                <a id='inicio_sesion' href="form_crea_usuario">Registro usuario</a>
            </nav>
        </div>

        <header>
            <h1>ACCIÓN</h1>
        </header>
        {% load static%}
        <main>
            <ul class="listado-producto">
                <li>
                    <h2>GTA V</h2>
                    <img src="{% static 'core/img/ac_gtav.png' %}" alt="GTA V">
                    <p class="descripcion-producto">Se lo que quieras ser en la entrega más aclamada de GTA, para jugar local o de forma online</p>
                    <p class="precio-producto">$19.990</p>
                </li>
                <li>
                    <h2>Horizon Forbidden West</h2>
                    <img src="{% static 'core/img/ac_horizon.png' %}" alt="WoW">
                    <p class="descripcion-producto">Acompaña a Aloy en sus aventuras en este mundo inhóspito para conocer la verdad detrás de su nacimiento</p>
                    <p class="precio-producto">$29.990</p>
                </li>
            </ul>
        </main>

        <footer>
            <p class="texto-footer">Juegos Rata es una tienda exclusivamente online. Encuentranos en nuestras redes sociales:</p>
            {% load static%}
            <div class="footer-block">
                <div class="image-on-top">
                    <img src="{% static 'core/img/icono_insta.png' %}" alt="Instagram">
                    <img src="{% static 'core/img/icono_tiktok.png' %}" alt="Tik Tok">
                    <img src="{% static 'core/img/icono_x.png' %}" alt="Twitter">
                </div>
            </div>
        </footer>

    </body>
