<!DOCTYPE html>
<html>

    <head>
        {% load static%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HORA RATA</title>
        <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>

    <body>

        <div>
            <a id="inicio" href="/">>>>Inicio</a>
            <nav>
                {% if role == '2' %}
                  <p id='inicio_sesion'>Su perfil es Administrador</a>
                {% endif %}
            </nav>
        </div>

        <header>
            <h1>{{nombre}}</h1>
        </header>
        {% load static%}
        <main>
            <ul class="listado-producto">
                {% for juego in juegos %}
                <li>
                    <h2>{{ juego.nombre_juego }}</h2>
                        <img src="{{juego.url_img_juego}}" alt="{{ juego.nombre_juego }}">
                    <p class="descripcion-producto">{{ juego.descripcion_juego }}</p>
                    <p class="precio-producto">
                        {% if juego.precio_juego == 0 %}
                            GRATIS </p>
                        {% else %}
                            ${{juego.precio_juego}}</p>
                        {% endif %}
                </li>
                {% endfor %}
            </ul>
        </main>

        <footer>
            <p class="texto-footer">Juegos Rata es una tienda exclusivamente online. Encuentranos en nuestras redes sociales:</p>
            {% load static%}
            <div class="footer-block">
                <div class="image-on-top">
                    <img src="{% static 'core/img/icono_insta.png' %}" alt="Instagram">
                    <img src="{% static 'core/img/icono_tiktok.png' %}" alt="Tik Tok">
                    <img src="{% static 'core/img/icono_x.png' %}" alt="Twitter">
                </div>
            </div>
        </footer>

    </body>
