<!DOCTYPE html>
<html>
   
    <head>
        {% load static%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HORA RATA</title>
        <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>

    <body>
        <div>
            <a id="inicio" href="/">>Inicio</a>
            <nav>
                {% if role == '2' %}
                  <p id='inicio_sesion'>Su perfil es Administrador</a>
                {% endif %}
            </nav>
        </div>
        
        <header>
            <h2>
                ADMINISTRADOR DE CATEGORÍAS
            </h2>
        </header>

        <main>
            <div class="contenido">
                <br>
                <h2>Está seguro que desea eliminar la categoría {{ juego.nombre_juego }}</h2>
                <div class="formulario">
                    <form method="post" id="formulario_registro" enctype="multipart/form-data" onreset="location.reload()">
                        {% csrf_token %}
                        <input type="submit" value="Eliminar">
                </div>
                    </form>
                </div>
            </div>
        </main>

        <footer>
            <p class="texto-footer">Juegos Rata es una tienda exclusivamente online. Encuentranos en nuestras redes sociales:</p>
            {% load static%}
            <div class="footer-block">
                <div class="image-on-top">
                    <img src="{% static 'core/img/icono_insta.png' %}" alt="Instagram">
                    <img src="{% static 'core/img/icono_tiktok.png' %}" alt="Tik Tok">
                    <img src="{% static 'core/img/icono_x.png' %}" alt="Twitter">
                </div>
            </div>
        </footer>
    </body>

</html>
