<!DOCTYPE html>
<html>
   
    <head>
        {% load static%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HORA RATA</title>
        <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>

    <body>
        <div>
            <a id="inicio" href="/">>Inicio</a>
            <nav id="nav_top"> 
                {% if usuario_conectado != '' %}
                    <a class="opcion_menu_top" href="{% url 'perfil_usuario' %}"> Perfil: {{ usuario_conectado }} </a>
                {% else %}
                    <p class="opcion_menu_top"> Inicie sesión o registre su usuario</p>
                {% endif %}
                {% if role == '2' %}
                    <a class="opcion_menu_top" href="{% url 'lista_juegos' %}">Administrar juegos</a>
                    <a class="opcion_menu_top" href="{% url 'lista_categorias' %}">Administrar categorías</a>
                {% endif %}
                
                {% if usuario_conectado == '' %}
                    <a class="opcion_menu_top" href="{% url 'form_login' %}">Iniciar sesión</a>
                    <a class="opcion_menu_top" href="{% url 'form_crea_usuario' %}">Registro usuario</a>  
                {% else %}
                    <a class="opcion_menu_top" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
                {% endif %}
            </nav>
          </div>    
        <header>
            <h1>
                VIDEOJUEGOS A TU ALCANCE
            </h1>
        </header>

        <main>
            <div class="contenido">
                <div>
                    <p id="titulo_cat">CATEGORIAS</p>
                </div>

                <br>

                <div>
                    <p id="des_cat">Encuentra nuestra gran variedad de juegos, contando con distintos títulos de los más clásicos a los últimos lanzamientos.</p>
                </div>

                <br><br>

                <div class="categorias-principal">
                    {% for cat in categorias %}
                    <a class="categorias" href="{% url 'categoria' cat.id_categoria cat.nombre_categoria%}">{{cat.nombre_categoria}}</a>
                    {% endfor %}
                </div>
            </div>
        </main>

        <footer>
            <p class="texto-footer">Juegos Rata es una tienda exclusivamente online. Encuentranos en nuestras redes sociales:</p>
            {% load static%}
            <div class="footer-block">
                <div class="image-on-top">
                    <img src="{% static 'core/img/icono_insta.png' %}" alt="Instagram">
                    <img src="{% static 'core/img/icono_tiktok.png' %}" alt="Tik Tok">
                    <img src="{% static 'core/img/icono_x.png' %}" alt="Twitter">
                </div>
            </div>
        </footer>
    </body>

</html>
