<!DOCTYPE html>
<html>
   
    <head>
        {% load static%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HORA RATA</title>
        <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>

    <body>
        <div>
            <a id="inicio" href="/">>>>Inicio</a>
            <nav>
                {% if role == '2' %}
                  <p id='inicio_sesion'>Su perfil es Administrador</a>
                {% endif %}
            </nav> 
        </div>
        
        <header>
            <h2>
                ADMINISTRADOR DE CATEGORÍAS
            </h2>
        </header>

        <main>

            <br><br>

            <div class="categorias-principal">
                <table>
                {% for juego in juegos %}
                <tr>                 
                    <td>{{juego.nombre_juego}}</td>
                    <td>{{juego.descripcion_juego}}</td>
                    <td>{{juego.precio_juego}}</td>
                    <td>{{juego.url_img_juego}}</td>
                    <td><img height="100px" with="75px" src="{{juego.url_img_juego}}" alt="{{ juego.nombre_juego }}"></td>
                    <td><a class="opcion_menu_top" href="{% url 'form_mod_juego' juego.id_juego %}" >Modificar</a></td>
                    <td><a class="opcion_menu_top" href="{% url 'form_del_juego' juego.id_juego %}" >Eliminar</a></td>
                </tr>
                {% endfor %}
                 </table>
                 
            </div>
            <nav id="nav_bottom">
                <a class="opcion_menu_top" href="{% url 'form_crea_juego' %}" >Nuevo</a>
            </nav>
        </main>

        <footer>
            <p class="texto-footer">Juegos Rata es una tienda exclusivamente online. Encuentranos en nuestras redes sociales:</p>
            {% load static%}
            <div class="footer-block">
                <div class="image-on-top">
                    <img src="{% static 'core/img/icono_insta.png' %}" alt="Instagram">
                    <img src="{% static 'core/img/icono_tiktok.png' %}" alt="Tik Tok">
                    <img src="{% static 'core/img/icono_x.png' %}" alt="Twitter">
                </div>
            </div>
        </footer>
    </body>

</html>
