<!DOCTYPE html>
<html>

    <head>
        {% load static%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HORA RATA</title>
        <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>

    <body>

        <div>
            <a id="inicio" href="/">>Inicio</a>
        </div>

        <header>
            {% if usuario_conectado != '' %}
            <h1>Hola {{ usuario_conectado }}</h1>
            {% else %}
            <h1>Inicia sesión</h1>
            {% endif %}
        </header>
        
        <main>
            <div class="contenido">
                

            </div>
        </main>

        <footer>
            <p class="texto-footer">Juegos Rata es una tienda exclusivamente online. Encuentranos en nuestras redes sociales:</p>
            {% load static%}
            <div class="footer-block">
                <div class="image-on-top">
                    <img src="{% static 'core/img/icono_insta.png' %}" alt="Instagram">
                    <img src="{% static 'core/img/icono_tiktok.png' %}" alt="Tik Tok">
                    <img src="{% static 'core/img/icono_x.png' %}" alt="Twitter">
                </div>
            </div>
        </footer>

    </body>